.img {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.text {
    font-size: 75px;
    text-align: center;
    font-family: 'Roboto';
}

.bottom-text {
    font-size: 55px;
    text-align: center;
    font-family: 'Roboto';
}

.lukas {
    text-align: center;
    font-family: 'Roboto';
}

@media screen and (max-width: 580px) {
    .img {
        display: block;
        width: 100%;
        height: auto;
    }
}